html
    head
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css")
    body 
        div(class='container')
            h1
                u=name
            h2 Films
                if films
                    ul
                        each film in films
                            li=film
                else
                    p None
            h2 Character
            table
                tbody
                    tr
                        td
                            b Birth Year
                        td=birth_year
                    tr
                        td
                            b Homeworld
                        td=homeworld
                    tr
                        td
                            b Species
                        td=species